.inputText{
    font-size: 17px;
    border: 1px solid black;
    border-radius: 20px;
    width: 300px;
    height: 35px;
    vertical-align: middle;
    text-align: center;
    margin-top: 25px;
 }
 .cont{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    padding-left: -100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }
 .cityTemp{
    font-size: 40px;
    margin-top: 60px;
 }
 .c{
   font-size: 35px;
 }
 .cityName{
    font-size: 30px;
    margin-top: 20px;
 }
 .cityWeather{
    font-size: 25px;
    margin-top: 15px;
 }
body{
   background-image: url(back.jpg);
   background-size: cover;
}
   
